.search_container {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    box-sizing: border-box;
}

.search_center {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search_left{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: start;
    align-items: center;
    width: 100%;
}