.photo_card {
    width: 204px;
    height: 204px;
    border-radius: 6px;
    border: 1px solid #EBEBEB;
    overflow: hidden;
}

.photo_card .photo_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media (max-width: 390px) {
    .photo_card {
        width: 114px;
        height: 114px;
        border-radius: 4px;
    }

    .photo_card .photo_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}